.header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbolImg {
  height: auto;
  width: 40%;
}

.title {
  font-size: 3rem;
}
